<div class="row gy-4 g-xl-8">
  <div class="col-xxl-12">
    <div class="card">
      <div class="card-body d-flex flex-column">
        <h3 class="card-title fw-bolder text-black">민팅 이벤트 리스트</h3>
        <br>
        <div class="table-responsive col-sm-12">
          <table class="table table-bordered table-striped" id="eventDataTable" data-order='[[0, "desc"]]'>
            <thead>
            <tr>
              <th>No</th>
              <th>UUID</th>
              <th>Title</th>
              <th>Description</th>
              <th>Contents</th>
              <th>Resource</th>
              <th>Event Period</th>
              <th>Deletion</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="event : ${events}">
              <td th:text="${eventStat.index + 1}"></td>
              <td th:text="${event.uuid()}"></td>
              <td th:text="${event.title()}"></td>
              <td th:text="${event.description()}"></td>
              <td th:text="${event.contents()}" style="white-space: pre-line;"></td>
              <td><a th:href="@{${event.resource()}}" target="_blank"><p th:text="${event.resource()}"></p></a></td>
              <td th:utext="|${event.utcStartDate() + ' ~ ' + event.utcEndDate() + ' (UTC)<br/>→ ' + event.kstStartDate() + ' ~ ' + event.kstEndDate() + ' (KST)'}|"></td>
              <td>
                <button class="btn" th:eventUuid="${event.uuid()}" th:onclick="|deleteData('event', this.getAttribute('eventUuid'))|" style="padding: 0">
                  <i class="fa fa-trash-o" style="color:red"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<th:block th:insert="~{fragments/deletionModal}"/>
<form id="eventDeletionForm" th:method="post" th:action="@{/minting/event}">
  <input type="hidden" name="_method" value="DELETE">
  <input type="hidden" name="type" id="type">
  <input type="hidden" name="uuid" id="uuid">
</form>
