<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>게시글 수정</title>
  <th:block th:insert="~{fragments/import}"/>

  <!-- Toast UI Editor CSS -->
  <link href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" rel="stylesheet"/>
  <!-- Toast UI Editor JS -->
  <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
</head>
<body>
<th:block th:insert="~{fragments/heading}"/>
<th:block th:insert="~{fragments/loadingOverlay}"/>
<div class="row gy-4 g-xl-8">
  <div class="col-xxl-12">
    <div class="card">
      <div class="card-body d-flex flex-column">
        <h3 class="card-title fw-bolder text-black">게시글 수정</h3>
        <br>
        <form class="form-horizontal" id="blogPostForm" method="post" th:action="@{/blog/update}" th:object="${blogPost}">
          <div class="form-group">
            <label class="control-label col-sm-10" for="slug">slug:</label>
            <div class="col-sm-10">
              <input class="form-control" id="slug" name="slug" required th:value="*{slug}" type="text"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-10" for="title">title:</label>
            <div class="col-sm-10">
              <input class="form-control" id="title" name="title" required th:value="*{title}" type="text"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-10" for="authors">authors:</label>
            <div class="col-sm-10">
              <input class="form-control" id="authors" name="authors" required th:value="*{authors}" type="text"/>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-10" for="tags">tags:</label>
            <div class="col-sm-10">
              <input class="form-control" id="tags" name="tags" required th:value="*{tags}" type="text"/>
            </div>
          </div>
          <br>
          <div class="form-group">
            <label class="control-label col-sm-10" for="contents">contents:</label>
            <div class="col-sm-10">
              <div id="toastEditor" style="border:1px solid #ccc;"></div>
              <input id="contents" name="contents" type="hidden"/>
            </div>
          </div>
          <div class="form-group">
            <input type="hidden" name="uuid" th:value="*{uuid}"/>
          </div>
          <br>
          <div class="form-group">
            <div class="col-sm-offset-1 col-sm-10">
              <button class="btn btn-success" th:formId="blogPostForm" th:onclick="|registerData(this.getAttribute('formId'))|">수정</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script th:inline="javascript">
  const editor = new toastui.Editor({
    el: document.querySelector('#toastEditor'),
    height: '1000px',
    initialEditType: 'markdown',
    previewStyle: 'vertical',
    language: 'ko',
  });

  const initialContent = /*<![CDATA[*/ [[${blogPost.contents}]] /*]]>*/;
  editor.setMarkdown(initialContent);

  function registerData(formId) {
    // 로딩 오버레이 표시
    document.getElementById('loadingOverlay').style.display = 'block';

    const form = document.getElementById(formId);
    const hiddenInput = document.getElementById('contents');
    hiddenInput.value = editor.getMarkdown();
    form.submit();
  }
</script>
</body>
</html>
