<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8"/>
  <title>Joy Admin</title>
  <th:block th:insert="~{fragments/import}"/>
  <style>
    div.imageDiv {
      position: absolute;
      max-width: 45%;
      max-height: 45%;
      top: 50%;
      left: 50%;
      overflow: visible;
    }

    img.imageClass {
      position: relative;
      max-width: 30%;
      max-height: 100%;
      margin-top: -10%;
      margin-left: -15%;
      display: none;
    }
  </style>

  <!-- FullCalendar -->
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.5/main.min.css" rel="stylesheet"/>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.5/main.min.js"></script>
</head>
<body>
<th:block th:insert="~{fragments/heading}"/>
<div class="imageDiv">
  <img alt="NHN" class="imageClass" src="/img/NHN-logo.png"/>
</div>
<div class="row gy-4 g-xl-8">
  <div class="col-xxl-4">
    <div class="card">
      <div class="card-body d-flex flex-column">
        <h3 class="card-title fw-bolder text-black">학생 등록</h3>
        <button class="btn btn-danger" onclick="location.href='/student/register'" type="button">+ 신규 학생</button>
      </div>
    </div>
  </div>
  <div class="col-xxl-4">
    <div class="card">
      <div class="card-body d-flex flex-column">
        <h3 class="card-title fw-bolder text-black">블로그 등록</h3>
        <button class="btn btn-danger" onclick="location.href='/blog/register'" type="button">+ 신규 게시글</button>
      </div>
    </div>
  </div>
</div>
<br>
<th:block th:insert="~{blog/dataTable}"/>
<br>
<th:block th:insert="~{student/dataTable}"/>
<br>
<th:block th:insert="~{schedule/calendar}"/>
</body>
</html>
