<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8"/>
  <title>Login</title>
  <th:block th:insert="~{fragments/import}"/>
</head>
<body>
<div class="container">
  <div class="row justify-content-center align-items-center" style="height:100vh">
    <div class="row gy-8 g-sm-4 g-md-4 g-lg-6 g-xl-4 justify-content-center">
      <div class="col-sm-8 col-md-6 col-lg-6 col-xl-5">
        <div class="card">
          <div class="card-body d-flex flex-column">
            <img alt="Joy Admin 로고" class="mx-auto d-block" src="/img/joy-logo-orange.png" style="max-width: 100%; height: auto;"/>
            <br>
            <form action="/login/process" autocomplete="off" method="post">
              <div class="form-group">
                <label for="userId" style="display: none"></label>
                <input class="form-control" id="userId" name="userId" placeholder="아이디" type="text"/>
              </div>
              <div class="form-group">
                <label for="userPassword" style="display: none"></label>
                <input class="form-control" id="userPassword" name="userPassword" placeholder="비밀번호" type="password"/>
              </div>
              <span th:if="${param.error != null}">
              <div style="color: red; ">
                아이디 또는 비밀번호를 잘못 입력했습니다.
                <br>
                입력하신 내용을 다시 확인해주세요.
              </div>
              <br>
            </span>
              <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
              <button class="btn btn-primary" type="submit">로그인</button>
            </form>

            <hr class="my-4">

            <!-- 구글 로그인 버튼 -->
            <a class="btn btn-outline-dark w-100" href="/oauth2/authorization/google">
              <img alt="구글 로그인" src="https://developers.google.com/identity/images/g-logo.png" style="width:20px; margin-right:10px;">
              구글 계정으로 로그인
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
